<!-- slider & heade section Start -->
<div class="header">

  <!-- slider start -->
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner" *ngFor="let d of slider; let i = index">
      <div class="carousel-item" [class.active]="i === 0">
        <div class="slider-img">
          <img [src]="d.sliderImage" class="d-block w-100" alt="...">
          <div class="slider-cont">
            <h1>{{d.sliderText}}</h1>
            <p>{{d.sliderDescription}}</p>
            <div class="start">
              <button class="btn">Get Started</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-buttons">
      <button onclick="prevSlide()" data-bs-target="#carouselExample" data-bs-slide="prev" class="btn"><i
          class="bi bi-arrow-left"></i></button>
      <button onclick="nextSlide()" data-bs-target="#carouselExample" data-bs-slide="next" class="btn"><i
          class="bi bi-arrow-right"></i></button>
    </div>
  </div>

  <!-- header start -->
<app-header></app-header>
<!-- header end -->
 
  <!-- slider end -->
</div>
<!-- slider & heade section end -->

<!-- Product Section start -->
<section class="product">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="title">
          <h5>Our Product</h5>
        </div>
        <!-- nav tab start -->
        <ul class="nav nav-pills justify-content-center" id="myTab" role="tablist">
          <li class="nav-item" role="presentation" *ngFor="let category of cat; let i = index">
            <a class="nav-link" 
               [class.active]="category.categoryID === activeTab" 
               [id]="category.categoryID + '-tab'" 
               data-bs-toggle="tab" 
               role="tab" 
               [attr.aria-controls]="category.categoryID"
               [attr.aria-selected]="category.categoryID === activeTab ? 'true' : 'false'"
               (click)="setActiveTab(category.categoryID)">
              {{ category.categoryName }}
            </a>
          </li>
        </ul>
        


        <!-- tab content start -->

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade" 
               *ngFor="let d of products; let i = index"
               [class.show]="d.categoryID" [class.active]="d.categoryID"
               [attr.id]="'pane-'+i" role="tabpanel"
               [attr.aria-labelledby]="'tab-'+i">
        
            <div class="row">
              
              <!-- Left Side: Featured Product -->
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="stand-img">
                  <img [src]="d.productThumbnail" alt="{{d.productTitle}}" (click)="navigatess(d.userProductID)">
                  <div class="stand-cont">
                    <h6>{{ d.productTitle }}</h6>
                  </div>
                  <div class="cart-icon">
                    <button class="btn" (click)="navigatess(d.userProductID)">
                      <i class="bi bi-cart-fill"></i>
                    </button>
                  </div>
                </div>
              </div>
        
              <!-- Right Side: Next 6 Products -->
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let p of products.slice(i + 1, i + 7)">
                    <div class="stand2-img">
                      <img [src]="p.productThumbnail" alt="{{ p.productTitle }}">
                      <div class="stand2-cont">
                        <h6>{{ p.productTitle }}</h6>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn" (click)="navigates(p.userProductID)">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


       
        
              <!-- View All Button (Only on First Tab) -->
              <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="i === 0">
                <div class="view-btn text-center">
                  <button class="btn" (click)="navigate(d.categoryID)">View All</button>
                </div>
              </div>
        
            </div>
          </div>
        </div>
        


        



        <!-- <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" *ngFor="let d of products">
            <div class="row" *ngIf="products.length > 0;" >
              <div class="col-lg-6 col-md-6 col-sm-12" >
                <div class="stand-img">
                  <img [src]="d.productThumbnail" alt="Plant Stands & Movers"
                    >
                  <div class="stand-cont">
                    <h6>{{d.productTitle}}</h6>
                  </div>
                  <div class="cart-icon">
                    <button class="btn">
                      <i class="bi bi-cart-fill"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12" >
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img [src]="d.productThumbnail" alt="Plant Stands & Movers">
                      <div class="stand2-cont">
                        <h6>{{d.productTitle}}</h6>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12" *ngFor="let d of products; let first = first">
                <div class="view-btn text-center" *ngIf="first">
                  <button class="btn" (click)="navigate(d.categoryID)">View All</button>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="stand-img">
                  <img src="../../../../assets/image/Product/plant&stand1.png" alt="Plant Stands & Movers"
                    class="img-fluid">
                  <div class="stand-cont">
                    <h6>Fox & Fern 11</h6>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores veniam porro placeat iure
                      consequuntur et, libero nostrum officiis.</p>
                  </div>
                  <div class="cart-icon">
                    <button class="btn">
                      <i class="bi bi-cart-fill"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand2.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand3.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand4.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>

 
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand5.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand6.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand7.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="view-btn text-center">
                  <button class="btn">View All</button>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="stand-img">
                  <img src="../../../../assets/image/Product/plant&stand1.png" alt="Plant Stands & Movers"
                    class="img-fluid">
                  <div class="stand-cont">
                    <h6>Fox & Fern 11</h6>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores veniam porro placeat iure
                      consequuntur et, libero nostrum officiis.</p>
                  </div>
                  <div class="cart-icon">
                    <button class="btn">
                      <i class="bi bi-cart-fill"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand2.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand3.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand4.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>


                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand5.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand6.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand7.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="view-btn text-center">
                  <button class="btn">View All</button>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="glass" role="tabpanel" aria-labelledby="glass-tab">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="stand-img">
                  <img src="../../../../assets/image/Product/plant&stand1.png" alt="Plant Stands & Movers"
                    class="img-fluid">
                  <div class="stand-cont">
                    <h6>Fox & Fern 11</h6>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores veniam porro placeat iure
                      consequuntur et, libero nostrum officiis.</p>
                  </div>
                  <div class="cart-icon">
                    <button class="btn">
                      <i class="bi bi-cart-fill"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand2.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand3.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand4.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>


                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand5.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand6.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand7.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
 
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="view-btn text-center">
                  <button class="btn">View All</button>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="roto" role="tabpanel" aria-labelledby="rotomoll-tab">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="stand-img">
                  <img src="../../../../assets/image/Product/plant&stand1.png" alt="Plant Stands & Movers"
                    class="img-fluid">
                  <div class="stand-cont">
                    <h6>Fox & Fern 11</h6>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores veniam porro placeat iure
                      consequuntur et, libero nostrum officiis.</p>
                  </div>
                  <div class="cart-icon">
                    <button class="btn">
                      <i class="bi bi-cart-fill"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand2.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand3.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand4.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>


                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand5.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand6.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand7.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="view-btn text-center">
                  <button class="btn">View All</button>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- tab content end -->
        <!-- nav tab end -->
      </div>
    </div>
  </div>
</section>
<!-- Product Section end -->

<!-- service section start -->
<section class="service">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="title">
          <h5>Our Service</h5>
          <h2>Whatever You're Into,</h2>
          <h2 class="text">Get Into Gardening</h2>
        </div>
      </div>

      <ng-container *ngFor="let d of ser">
          
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="service-card">
          <div class="card">
            <img [src]="d.serviceImage" alt="">
            <div class="overlay"></div>

            <div class="tree-title">
              <h3>{{d.serviceText}}</h3>
            </div>
          </div>

        </div>
      </div>
      </ng-container>
    </div>
  </div>
</section>
<!-- service section end -->

<!-- valuable section start -->
<section class="client">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="title">
          <h5>Our Valuable Client</h5>
          <h2>Plant lovers around the</h2>
          <h2 class="text">world love Farmetos</h2>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="client-slider">
          <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let d of client">
              <ng-template carouselSlide>
                <div class="card">
                  <div class="client-logo text-center">
                    <img [src]="d.clientImage" alt="Client Image">
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- valuable section end -->


<!-- testimonial section start -->
<section class="testimonioal">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="title">
          <h5>Testimonial</h5>
          <h2>What Our Customer Says?</h2>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="testi-slider">
          <owl-carousel-o [options]="customOptions1">
            <ng-container *ngFor="let d of testi">
              <ng-template carouselSlide>
                <div class="review">
                  <div class="reviwe-icon">
                    <ul class="d-flex flex-wrap align-items-center justify-content-center">
                      <li *ngFor="let star of starsArray(d.rating); let i = index">
                        <i class="bi" [ngClass]="i < d.rating ? 'bi-star-fill' : 'bi-star'"></i>
                      </li>
                    </ul>
                  </div>
                  <div class="review-cont">
                    <p>{{d.description}}</p>
                  </div>
                  <div class="review-img">
                    <img [src]="d.testimonialImage" alt="testimonial">
                    <div class="name">
                      <h5>{{d.name}}</h5>
                      <h6>{{d.designation}}</h6>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- testimonial section end -->

<!-- blog section start -->
<section class="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="title">
          <h5>Blogs</h5>
          <h2>Crafting Nature's Canvas: Farmetos Artisan</h2>
          <h2 class="text">Planters, Rooted In Plants, Inspired By Nature</h2>
        </div>
      </div>

      <ng-container *ngFor="let d of blog">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="card">
            <img [src]="d.blogThumbnail" class="card-img-top" alt="..." (click)="redirectblog(d.blogID)">
            <div class="card-body">
              <h5 class="card-title">{{d.createdAt | date}}</h5>
              <h4 class="card-titles">{{d.blogTitle}}</h4>
              <p class="card-text">{{d.blogDescription | slice:0:250}} </p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
<!-- blog section end -->

<!-- get into tocuh section start -->
<section class="get">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="title">
          <h3>Get In Touch</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et iusto repudiandae, nulla porro quae tenetur
            esse incidunt repellat nemo pariatur sapiente soluta earum, fuga odio assumenda mollitia, facere facilis
            architecto.</p>
        </div>
        <div class="touch-fomr">
          <form [formGroup]="AddInquiryForm">
            <div class="mb-4">
              <div class="user-input">
                <input type="text" class="form-control" placeholder="Your Name" formControlName="inquiryName">
                <div class="user-icon">
                  <i class="bi bi-person-fill"></i>
                </div>
              </div>
            </div>
            <div class="mb-4">
              <div class="user-input">
                <input type="text" class="form-control" placeholder="Email" formControlName="inquiryEmail">
                <div class="user-icon">
                  <i class="bi bi-envelope-fill"></i>
                </div>
              </div>
            </div>
            <div class="mb-4">
              <div class="user-input">
                <input type="text" class="form-control" placeholder="Subject" formControlName="subject">
                <div class="user-icon">
                  <i class="bi bi-file-earmark-ppt-fill"></i>
                </div>
              </div>
            </div>
            <div class="mb-4">
              <div class="user-input">
                <textarea type="text" class="form-control" placeholder="Message" formControlName="message"></textarea>
                <div class="user-icon">
                  <i class="bi bi-chat-left-dots-fill"></i>
                </div>
              </div>
            </div>
            <div class="mb-4">
              <div class="submit">
                <button class="btn" (click)="AddInquiry()" >Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="touch-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14875.524228046716!2d72.80423473655686!3d21.236564688139904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04eaf38004241%3A0x7ec697f2c611dc05!2sDabholi%2C%20Surat%2C%20Gujarat%20395004!5e0!3m2!1sen!2sin!4v1741345893993!5m2!1sen!2sin"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- get into tocuh section end -->

<!-- footer section start -->
 
<app-footer></app-footer>
 <!-- footer section end -->