<!-- slider & heade section Start -->
<div class="header">

  <!-- slider start -->
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="slider-img">
          <img src="../../../../assets/image/Slider/slider.png" class="d-block w-100" alt="...">
          <div class="slider-cont">
            <h1>Make This world better & beautiful with trees</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente sed earum, enim sint est dolorum ullam
              eligendi recusandae expedita unde odit inventore, tenetur iste molestiae? Quasi fuga quia soluta? Aut!</p>
            <div class="start">
              <button class="btn">Get Started</button>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="slider-img">
          <img src="../../../../assets/image/Slider/slider.png" class="d-block w-100" alt="...">
          <div class="slider-cont">
            <h1>Make This world better & beautiful with trees</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente sed earum, enim sint est dolorum ullam
              eligendi recusandae expedita unde odit inventore, tenetur iste molestiae? Quasi fuga quia soluta? Aut!</p>
            <div class="start">
              <button class="btn">Get Started</button>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="slider-img">
          <img src="../../../../assets/image/Slider/slider.png" class="d-block w-100" alt="...">
          <div class="slider-cont">
            <h1>Make This world better & beautiful with trees</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente sed earum, enim sint est dolorum ullam
              eligendi recusandae expedita unde odit inventore, tenetur iste molestiae? Quasi fuga quia soluta? Aut!</p>
            <div class="start">
              <button class="btn">Get Started</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-buttons">
      <button onclick="prevSlide()" data-bs-target="#carouselExample" data-bs-slide="prev" class="btn"><i
          class="bi bi-arrow-left"></i></button>
      <button onclick="nextSlide()" data-bs-target="#carouselExample" data-bs-slide="next" class="btn"><i
          class="bi bi-arrow-right"></i></button>
    </div>
  </div>


  <nav class="navbar navbar-expand-lg ">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../../../../assets/image/logo/logo.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Our Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Our Work</a>
          </li>
        </ul>
      </div>
      <div class="touch">
        <button class="btn" type="submit">Get In Touch</button>
      </div>
     
    </div>
  </nav>
  <!-- slider end -->
</div>
<!-- slider & heade section end -->

<!-- Product Section start -->
<section class="product">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="title">
          <h5>Our Product</h5>
        </div>
        <!-- nav tab start -->
        <ul class="nav nav-pills justify-content-center" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home"
              aria-selected="true">Plant Stands & Movers</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile"
              aria-selected="false">Ceramic Pot</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab" aria-controls="contact"
              aria-selected="false">Outdoor Plant Pots</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="glass-tab" data-bs-toggle="tab" href="#glass" role="tab" aria-controls="glass"
              aria-selected="false">Glass Pot</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link " id="rotomoll-tab" data-bs-toggle="tab" href="#roto" role="tab" aria-controls="roto"
              aria-selected="false">Rotomoll Pot</a>
          </li>
        </ul>


        <!-- tab content start -->
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="stand-img">
                  <img src="../../../../assets/image/Product/plant&stand1.png" alt="Plant Stands & Movers"
                    class="img-fluid">
                  <div class="stand-cont">
                    <h6>Fox & Fern 11</h6>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores veniam porro placeat iure
                      consequuntur et, libero nostrum officiis.</p>
                  </div>
                  <div class="cart-icon">
                    <button class="btn">
                      <i class="bi bi-cart-fill"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand2.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand3.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand4.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>


                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand5.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand6.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand7.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="view-btn text-center">
                  <button class="btn">View All</button>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="stand-img">
                  <img src="../../../../assets/image/Product/plant&stand1.png" alt="Plant Stands & Movers"
                    class="img-fluid">
                  <div class="stand-cont">
                    <h6>Fox & Fern 11</h6>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores veniam porro placeat iure
                      consequuntur et, libero nostrum officiis.</p>
                  </div>
                  <div class="cart-icon">
                    <button class="btn">
                      <i class="bi bi-cart-fill"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand2.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand3.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand4.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>

 
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand5.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand6.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand7.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="view-btn text-center">
                  <button class="btn">View All</button>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="stand-img">
                  <img src="../../../../assets/image/Product/plant&stand1.png" alt="Plant Stands & Movers"
                    class="img-fluid">
                  <div class="stand-cont">
                    <h6>Fox & Fern 11</h6>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores veniam porro placeat iure
                      consequuntur et, libero nostrum officiis.</p>
                  </div>
                  <div class="cart-icon">
                    <button class="btn">
                      <i class="bi bi-cart-fill"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand2.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand3.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand4.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>


                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand5.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand6.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand7.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="view-btn text-center">
                  <button class="btn">View All</button>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="glass" role="tabpanel" aria-labelledby="glass-tab">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="stand-img">
                  <img src="../../../../assets/image/Product/plant&stand1.png" alt="Plant Stands & Movers"
                    class="img-fluid">
                  <div class="stand-cont">
                    <h6>Fox & Fern 11</h6>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores veniam porro placeat iure
                      consequuntur et, libero nostrum officiis.</p>
                  </div>
                  <div class="cart-icon">
                    <button class="btn">
                      <i class="bi bi-cart-fill"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand2.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand3.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand4.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>


                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand5.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand6.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand7.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
 
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="view-btn text-center">
                  <button class="btn">View All</button>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="roto" role="tabpanel" aria-labelledby="rotomoll-tab">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="stand-img">
                  <img src="../../../../assets/image/Product/plant&stand1.png" alt="Plant Stands & Movers"
                    class="img-fluid">
                  <div class="stand-cont">
                    <h6>Fox & Fern 11</h6>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores veniam porro placeat iure
                      consequuntur et, libero nostrum officiis.</p>
                  </div>
                  <div class="cart-icon">
                    <button class="btn">
                      <i class="bi bi-cart-fill"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand2.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand3.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand4.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>


                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand5.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand6.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="stand2-img">
                      <img src="../../../../assets/image/Product/plant&stand7.png" alt="Plant Stands & Movers"
                        class="img-fluid">
                      <div class="stand2-cont">
                        <h6>Fox & Fern 11</h6>
                        <p>Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="cart2-icon">
                        <button class="btn">
                          <i class="bi bi-cart-fill"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="view-btn text-center">
                  <button class="btn">View All</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- tab content end -->
        <!-- nav tab end -->
      </div>
    </div>
  </div>
</section>
<!-- Product Section end -->

<!-- service section start -->
<section class="service">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="title">
          <h5>Our Service</h5>
          <h2>Whatever You're Into,</h2>
          <h2 class="text">Get Into Gardening</h2>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="service-card">
          <div class="card">
            <img src="../../../../assets/image/Service/service1.png" alt="">
            <div class="overlay"></div>

            <div class="tree-title">
              <h3>Tree Plantation</h3>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="service-card">
          <div class="card">
            <img src="../../../../assets/image/Service/service2.png" alt="">
            <div class="overlay"></div>

            <div class="tree-title">
              <h3>Home Decoration</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="service-card">
          <div class="card">
            <img src="../../../../assets/image/Service/service3.png" alt="">
            <div class="overlay"></div>

            <div class="tree-title">
              <h3>Farmhouse Decoration</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="service-card">
          <div class="card">
            <img src="../../../../assets/image/Service/service4.png" alt="">
            <div class="overlay"></div>

            <div class="tree-title">
              <h3>Office Decoration</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- service section end -->

<!-- valuable section start -->
<section class="client">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="title">
          <h5>Our Valuable Client</h5>
          <h2>Plant lovers around the</h2>
          <h2 class="text">world love Farmetos</h2>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="client-slider">
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
              <div class="card">
                <div class="client-logo text-center">
                  <img src="../../../../assets/image/client/client1.png" alt="Client Image">
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="card">
                <div class="client-logo text-center">
                  <img src="../../../../assets/image/client/client2.png" alt="Client Image">
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="card">
                <div class="client-logo text-center">
                  <img src="../../../../assets/image/client/client3.png" alt="Client Image">
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="card">
                <div class="client-logo text-center">
                  <img src="../../../../assets/image/client/client4.png" alt="Client Image">
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="card">
                <div class="client-logo text-center">
                  <img src="../../../../assets/image/client/client5.png" alt="Client Image">
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="card">
                <div class="client-logo text-center">
                  <img src="../../../../assets/image/client/client2.png" alt="Client Image">
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- valuable section end -->


<!-- testimonial section start -->
<section class="testimonioal">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="title">
          <h5>Testimonial</h5>
          <h2>What Our Customer Says?</h2>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="testi-slider">
          <owl-carousel-o [options]="customOptions1">
            <ng-template carouselSlide>
              <div class="review">
                <div class="reviwe-icon">
                  <ul class="d-flex flex-wrap align-items-center justify-content-center">
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                  </ul>
                </div>
                <div class="review-cont">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sit quidem debitis dolore recusandae
                    et dolorum magni. Eius mollitia iste dolorem et ullam numquam magnam dicta exercitationem, excepturi
                    similique vero nulla tenetur eum consectetur corrupti, voluptatem quia assumenda dolores aliquid ex
                    sapiente. Sapiente qui optio nam neque? Quaerat, exercitationem in.</p>
                </div>
                <div class="review-img">
                  <img src="../../../../assets/image/testi/pexels-olly-3769021.jpg" alt="testimonial">
                  <div class="name">
                    <h5>Vamika Sharma</h5>
                    <h6>Designer</h6>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="review">
                <div class="reviwe-icon">
                  <ul class="d-flex flex-wrap align-items-center justify-content-center">
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                  </ul>
                </div>
                <div class="review-cont">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sit quidem debitis dolore recusandae
                    et dolorum magni. Eius mollitia iste dolorem et ullam numquam magnam dicta exercitationem, excepturi
                    similique vero nulla tenetur eum consectetur corrupti, voluptatem quia assumenda dolores aliquid ex
                    sapiente. Sapiente qui optio nam neque? Quaerat, exercitationem in.</p>
                </div>
                <div class="review-img">
                  <img src="../../../../assets/image/testi/pexels-olly-3769021.jpg" alt="testimonial">
                  <div class="name">
                    <h5>Vamika Sharma</h5>
                    <h6>Designer</h6>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="review">
                <div class="reviwe-icon">
                  <ul class="d-flex flex-wrap align-items-center justify-content-center">
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                  </ul>
                </div>
                <div class="review-cont">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sit quidem debitis dolore recusandae
                    et dolorum magni. Eius mollitia iste dolorem et ullam numquam magnam dicta exercitationem, excepturi
                    similique vero nulla tenetur eum consectetur corrupti, voluptatem quia assumenda dolores aliquid ex
                    sapiente. Sapiente qui optio nam neque? Quaerat, exercitationem in.</p>
                </div>
                <div class="review-img">
                  <img src="../../../../assets/image/testi/pexels-olly-3769021.jpg" alt="testimonial">
                  <div class="name">
                    <h5>Vamika Sharma</h5>
                    <h6>Designer</h6>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="review">
                <div class="reviwe-icon">
                  <ul class="d-flex flex-wrap align-items-center justify-content-center">
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                  </ul>
                </div>
                <div class="review-cont">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sit quidem debitis dolore recusandae
                    et dolorum magni. Eius mollitia iste dolorem et ullam numquam magnam dicta exercitationem, excepturi
                    similique vero nulla tenetur eum consectetur corrupti, voluptatem quia assumenda dolores aliquid ex
                    sapiente. Sapiente qui optio nam neque? Quaerat, exercitationem in.</p>
                </div>
                <div class="review-img">
                  <img src="../../../../assets/image/testi/pexels-olly-3769021.jpg" alt="testimonial">
                  <div class="name">
                    <h5>Vamika Sharma</h5>
                    <h6>Designer</h6>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="review">
                <div class="reviwe-icon">
                  <ul class="d-flex flex-wrap align-items-center justify-content-center">
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                  </ul>
                </div>
                <div class="review-cont">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sit quidem debitis dolore recusandae
                    et dolorum magni. Eius mollitia iste dolorem et ullam numquam magnam dicta exercitationem, excepturi
                    similique vero nulla tenetur eum consectetur corrupti, voluptatem quia assumenda dolores aliquid ex
                    sapiente. Sapiente qui optio nam neque? Quaerat, exercitationem in.</p>
                </div>
                <div class="review-img">
                  <img src="../../../../assets/image/testi/pexels-olly-3769021.jpg" alt="testimonial">
                  <div class="name">
                    <h5>Vamika Sharma</h5>
                    <h6>Designer</h6>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="review">
                <div class="reviwe-icon">
                  <ul class="d-flex flex-wrap align-items-center justify-content-center">
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                    <li>
                      <i class="bi bi-star-fill"></i>
                    </li>
                  </ul>
                </div>
                <div class="review-cont">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sit quidem debitis dolore recusandae
                    et dolorum magni. Eius mollitia iste dolorem et ullam numquam magnam dicta exercitationem, excepturi
                    similique vero nulla tenetur eum consectetur corrupti, voluptatem quia assumenda dolores aliquid ex
                    sapiente. Sapiente qui optio nam neque? Quaerat, exercitationem in.</p>
                </div>
                <div class="review-img">
                  <img src="../../../../assets/image/testi/pexels-olly-3769021.jpg" alt="testimonial">
                  <div class="name">
                    <h5>Vamika Sharma</h5>
                    <h6>Designer</h6>
                  </div>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- testimonial section end -->

<!-- blog section start -->
<section class="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="title">
          <h5>Blogs</h5>
          <h2>Crafting Nature's Canvas: Farmetos Artisan</h2>
          <h2 class="text">Planters, Rooted In Plants, Inspired By Nature</h2>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card">
          <img src="../../../../assets/image/testi/testi1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">FEBRUARY 22, 2025</h5>
            <h4 class="card-titles">Gallery Pots</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua Ut </p>
            <div class="reviwer">
              <div class="re-img d-flex flex-wrap align-items-center">
                <img src="../../../../assets/image/testi/pexels-olly-3769021.jpg" alt="">
                <h5>By Joy</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card">
          <img src="../../../../assets/image/testi/testi1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">FEBRUARY 22, 2025</h5>
            <h4 class="card-titles">Gallery Pots</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua Ut </p>
            <div class="reviwer">
              <div class="re-img d-flex flex-wrap align-items-center">
                <img src="../../../../assets/image/testi/pexels-olly-3769021.jpg" alt="">
                <h5>By Joy</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card">
          <img src="../../../../assets/image/testi/testi1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">FEBRUARY 22, 2025</h5>
            <h4 class="card-titles">Gallery Pots</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua Ut </p>
            <div class="reviwer">
              <div class="re-img d-flex flex-wrap align-items-center">
                <img src="../../../../assets/image/testi/pexels-olly-3769021.jpg" alt="">
                <h5>By Joy</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="blog-left-img">
          <img src="../../../../assets/image/testi/transparent-indoor-plants-free-png 2.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- blog section end -->

<!-- get into tocuh section start -->
<section class="get">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="title">
          <h3>Get In Touch</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et iusto repudiandae, nulla porro quae tenetur
            esse incidunt repellat nemo pariatur sapiente soluta earum, fuga odio assumenda mollitia, facere facilis
            architecto.</p>
        </div>
        <div class="touch-fomr">
          <form>
            <div class="mb-4">
              <div class="user-input">
                <input type="text" class="form-control" placeholder="Your Name">
                <div class="user-icon">
                  <i class="bi bi-person-fill"></i>
                </div>
              </div>
            </div>
            <div class="mb-4">
              <div class="user-input">
                <input type="text" class="form-control" placeholder="Email">
                <div class="user-icon">
                  <i class="bi bi-envelope-fill"></i>
                </div>
              </div>
            </div>
            <div class="mb-4">
              <div class="user-input">
                <input type="text" class="form-control" placeholder="Subject">
                <div class="user-icon">
                  <i class="bi bi-file-earmark-ppt-fill"></i>
                </div>
              </div>
            </div>
            <div class="mb-4">
              <div class="user-input">
                <textarea type="text" class="form-control" placeholder="Message"></textarea>
                <div class="user-icon">
                  <i class="bi bi-chat-left-dots-fill"></i>
                </div>
              </div>
            </div>
            <div class="mb-4">
              <div class="submit">
                <button class="btn">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="touch-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14875.524228046716!2d72.80423473655686!3d21.236564688139904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04eaf38004241%3A0x7ec697f2c611dc05!2sDabholi%2C%20Surat%2C%20Gujarat%20395004!5e0!3m2!1sen!2sin!4v1741345893993!5m2!1sen!2sin"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- get into tocuh section end -->

<!-- footer section start -->
 <section class="foot">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="farmetos-logo">
            <img src="../../../../assets/image/logo/foot.png" alt="Footer-logo" class="img-fluid mb-3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit reprehenderit aspernatur, libero sapiente animi quod?</p>
          </div>
          <div class="social-icon d-flex flex-wrap align-items-center justify-content-center my-4">
            <div class="fb">
              <i class="bi bi-facebook"></i>
            </div>
            <div class="inst">
              <i class="bi bi-instagram"></i>
            </div>
            <div class="twit">
              <i class="bi bi-twitter-x"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="links">
            <h4>Useful Links</h4>

            <ul>
              <li>Home</li>
              <li>About Us</li>
              <li>Our Product</li>
              <li>Blogs</li>
              <li>Our Work</li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="links">
            <h4>Support</h4>

            <ul>
              <li>Privacy & Policy</li>
              <li>Terms & Conditions</li>
              <li>Refnd Policies</li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="links">
            <h4>Company</h4>

            <ul>
              <li>Our Team</li>
              <li>Partner With Us</li>
              <li>FAQ</li>
              <li>Blog</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
 </section>
<!-- footer section end -->