<!-- slider & heade section Start -->
<div class="header">

  <!-- slider start -->
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner" *ngFor="let d of slider; let i = index">
      <div class="carousel-item" [class.active]="i === 0">
        <div class="slider-img">
          <img [src]="d.sliderImage" class="d-block w-100" alt="...">
          <div class="slider-cont">
            <h1>{{d.sliderText}}</h1>
            <p>{{d.sliderDescription}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-buttons">
      <button onclick="prevSlide()" data-bs-target="#carouselExample" data-bs-slide="prev" class="btn"><i
          class="bi bi-arrow-left"></i></button>
      <button onclick="nextSlide()" data-bs-target="#carouselExample" data-bs-slide="next" class="btn"><i
          class="bi bi-arrow-right"></i></button>
    </div>
  </div>

  <!-- header start -->
  <app-header></app-header>
  <!-- header end -->

  <!-- slider end -->
</div>
<!-- slider & heade section end -->

<!-- Product Section start -->
<section class="product" id="ourproduct">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="title">
          <h5>Our Product</h5>
        </div>
        <!-- Category Carousel -->
        <owl-carousel-o [options]="customOptions4" #carouselExample1 class="custom-carousel">
          <ng-container *ngFor="let d of cat">
            <ng-template carouselSlide>
              <div class="products-card" (click)="onCategorySelect(d)">
                <div class="card-wrapper" [class.selected]="d.categoryID === selectedCategory?.categoryID">
                  <img [src]="d.categoryImage" alt="Category Image" class="pot-image" />
                  <div class="product-title" [class.selected]="d.categoryID === selectedCategory?.categoryID">
                    <h3>{{ d.categoryName }}</h3>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>


        <!-- <div class="row"> -->
        <ng-container *ngIf="products.length > 0; else noProducts">
          <!-- Show products (max 8 items) -->
          <!-- Product Grid -->
          <div class="row">
            <div class="col-lg-3" *ngFor="let p of products | slice:0:8">
              <div class="product-img" (click)="navigatess(p.userProductID)">
                <img [src]="p.productThumbnail" alt="Product Thumbnail">
                <div class="product-name">
                  <h4>{{p.productTitle}}</h4>
                </div>
              </div>
            </div>

            <!-- Single View All Button shown only if there are more than 8 products -->
            <div class="col-lg-12 text-center mt-3" *ngIf="products.length > 8">
              <!-- Pass categoryID and categoryName from selectedCategory -->
              <button class="btn btn-dark"
                (click)="navigate(selectedCategory.categoryID, selectedCategory.categoryName)">
                View All Products
              </button>
            </div>
          </div>

        </ng-container>

        <!-- No products fallback message -->
        <ng-template #noProducts class="mt-3">
          <div class="col-lg-12 text-center">
            <img src="../../../../assets/image/Slider/slider.png" alt="Banner" class="img-fluid mt-4" />
          </div>
        </ng-template>


        <!-- </div> -->





      </div>
    </div>
  </div>

  <img class="flavor1" src="../../../../assets/image/doddles/hangPlant.png" alt="">
  <img class="flavors45" src="../../../../assets/image/doddles/flavors.png" alt="">
</section>
<!-- Product Section end -->

<!-- service section start -->
<section class="service">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="title">
          <h5>Our Services</h5>
          <h2>Whatever You're Into,</h2>
          <h2 class="text">Get Into Gardening</h2>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="service-slider">
          <owl-carousel-o [options]="customOptions2" #carouselExample1 class="custom-carousel">
            <ng-container *ngFor="let d of ser">
              <ng-template carouselSlide>
                <div class="service-card">
                  <div class="card">
                    <img [src]="d.serviceImage" alt="">
                    <div class="overlay"></div>

                    <div class="tree-title">
                      <h3>{{ d.serviceText }}</h3>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
          <!-- <div class="carousel-buttons1">
            <button onclick="prevSlide()" data-bs-target="#carouselExample1" data-bs-slide="prev" class="btn"><i
                class="bi bi-arrow-left"></i></button>
            <button onclick="nextSlide()" data-bs-target="#carouselExample1" data-bs-slide="next" class="btn"><i
                class="bi bi-arrow-right"></i></button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <img class="flavor1" src="../../../../assets/image/doddles/hangPlant.png" alt="">
  <img class="flavor2" src="../../../../assets/image/doddles/ockleaves.png" alt="">
</section>
<!-- service section end -->

<!-- valuable section start -->
<section class="client">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="title">
          <h5>Our Valuable Client</h5>
          <h2>Plant lovers around the</h2>
          <h2 class="text">world love Farmetos</h2>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="client-slider">
          <owl-carousel-o [options]="customOptions" class="custom-carousel">
            <ng-container *ngFor="let d of client">
              <ng-template carouselSlide>
                <div class="card">
                  <div class="client-logo text-center">
                    <img [src]="d.clientImage" alt="Client Image">
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- valuable section end -->


<!-- testimonial section start -->
<section class="testimonioal">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="title">
          <h5>Testimonial</h5>
          <h2>What Our Customer Says?</h2>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="testi-slider">
          <owl-carousel-o [options]="customOptions1">
            <ng-container *ngFor="let d of testi">
              <ng-template carouselSlide>
                <div class="review">
                  <div class="reviwe-icon">
                    <ul class="d-flex flex-wrap align-items-center justify-content-center">
                      <li *ngFor="let star of starsArray(d.rating); let i = index">
                        <i class="bi" [ngClass]="i < d.rating ? 'bi-star-fill' : 'bi-star'"></i>
                      </li>
                    </ul>
                  </div>
                  <div class="review-cont">
                    <p>{{d.description}}</p>
                  </div>
                  <div class="review-img">
                    <img [src]="d.testimonialImage" alt="testimonial">
                    <div class="name">
                      <h5>{{d.name}}</h5>
                      <h6>{{d.designation}}</h6>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
  <img class="flavors" src="../../../../assets/image/doddles/flavors.png" alt="">
  <img class="leaves" src="../../../../assets/image/doddles/leaves.png" alt="">
  <img class="ockleaves" src="../../../../assets/image/doddles/ockleaves.png" alt="">
</section>
<!-- testimonial section end -->

<!-- blog section start -->
<section class="blog">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="title">
          <h5>Blogs</h5>
          <h2>Crafting Nature's Canvas: Farmetos Artisan</h2>
          <h2 class="text">Planters, Rooted In Plants, Inspired By Nature</h2>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="blog-slider">
          <owl-carousel-o [options]="customOptions3">
            <ng-container *ngFor="let d of blog">
              <ng-template carouselSlide>
                <div class="card">
                  <img [src]="d.blogThumbnail" class="card-img-top" alt="..." (click)="redirectblog(d.blogID)">
                  <div class="card-body">
                    <h5 class="card-title">{{d.createdAt | date}}</h5>
                    <h4 class="card-titles">{{d.blogTitle}}</h4>
                    <p class="card-text">{{d.blogDescription | slice:0:250}} </p>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
  <img class="plantPot" src="../../../../assets/image/doddles/plantPot.png" alt="">
</section>
<!-- blog section end -->

<section class="Count">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="users">
          <img src="../../../../assets/image/icons/image1.png" alt="">
          <div class="counter">
            {{ usersCount }}+
          </div>
          <p>Users</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="booking">
          <img src="../../../../assets/image/icons/image2.png" alt="">
          <div class="counter">
            {{ bookingCount }}+
          </div>
          <p>Booking</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="customer">
          <img src="../../../../assets/image/icons/image3.png" alt="">
          <div class="counter">
            {{ customerCount }}+
          </div>
          <p>Customer Satisfaction</p>
        </div>
      </div>
      <!-- <div class="col-lg-12 col-md-12 col-sm-12 count-row">
        <div class="d-flex justify-content-between">
          <div class="d-flex flow">
            
            
          </div>
          <div class="d-flex flow">
           
          </div>
          <div class="d-flex flow">
           
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <img class="ocks1" src="../../../../assets/image/doddles/ockleaves.png" alt="">
  <img class="ocks2" src="../../../../assets/image/doddles/ockleaves.png" alt="">
</section>

<!-- get into tocuh section start -->
<section class="get">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="title">
          <h3>Get In Touch</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et iusto repudiandae, nulla porro quae tenetur
            esse incidunt repellat nemo pariatur sapiente soluta earum, fuga odio assumenda mollitia, facere facilis
            architecto.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12"></div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="touch-fomr">
          <form [formGroup]="AddInquiryForm">
            <div class="mb-4">
              <div class="user-input">
                <input type="text" class="form-control" placeholder="Your Name" formControlName="inquiryName">
                <div class="user-icon">
                  <i class="bi bi-person-fill"></i>
                </div>
              </div>
            </div>
            <div class="mb-4">
              <div class="user-input">
                <input type="text" class="form-control" placeholder="Email" formControlName="inquiryEmail">
                <div class="user-icon">
                  <i class="bi bi-envelope-fill"></i>
                </div>
              </div>
            </div>
            <div class="mb-4">
              <div class="user-input">
                <input type="text" class="form-control" placeholder="Subject" formControlName="subject">
                <div class="user-icon">
                  <i class="bi bi-file-earmark-ppt-fill"></i>
                </div>
              </div>
            </div>
            <div class="mb-4">
              <div class="user-input">
                <textarea type="text" class="form-control" placeholder="Message" formControlName="message"></textarea>
                <div class="user-icon message">
                  <i class="bi bi-chat-left-dots-fill"></i>
                </div>
              </div>
            </div>
            <div class="mb-4">
              <div class="submit">
                <button class="btn" (click)="AddInquiry()">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="touch-map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.5007005201105!2d72.77083457497851!3d21.132463284209205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be045ef53f5ea7f%3A0xb478a6c9ff55b6d6!2z8J2XmfCdl67wnZe_8J2XuvCdl7LwnZiB8J2XvPCdmIAg8J2Xo_Cdl7nwnZeu8J2Xu_CdmIEgJiDwnZej8J2XufCdl67wnZe78J2YgfCdl7LwnZe_IHx8IFBsYW50cyBhbmQgTnVyc2VyeSwgRlJQIFBvdHMgTWFudWZhY3R1cmUsIEZpYmVyIFBsYW50ZXJzIE1hbnVmYWN0dXJlciwgRlJQIFBsYW50ZXJzIFdob2xlc2FsZXI!5e0!3m2!1sen!2sin!4v1743139731553!5m2!1sen!2sin"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
  <img class="plantPots" src="../../../../assets/image/doddles/plantPots.png" alt="">
  <img class="flyLeaves" src="../../../../assets/image/doddles/flyLeaves.png" alt="">
</section>
<!-- get into tocuh section end -->

<!-- footer section start -->

<app-footer></app-footer>
<!-- footer section end -->