<app-header></app-header>
<!-- banner section start -->
<section class="product">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="bg-product">
          <img src="../../../../assets/image/Product/bgproduct.jpg" alt="" class="img-fluid">

          <div class="product-title" *ngIf="productdetails">
            <h2>{{productdetails.productTitle}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- banner section end -->


<!-- peoduct details sectoin start -->
<section class="product-details" *ngIf="selectedVariant">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="product-img">
          <img [src]="selectedVariant.variantImage" alt="{{ selectedProduct.productTitle }}">
        </div>
      </div>
      <div class="col-lg-8 col-md-12 col-sm-12">
        <div class="product-desc">
          <h2 style="font-size: 32px;">{{selectedVariant.description}}</h2>

          <div class="counter">
            <h6 class="coun pb-2">
              <span class="pe-3" (click)="quantity = quantity + 1">
                <i class="bi bi-plus fs-4"></i>
              </span>
              {{ quantity }}
              <span class="ps-3" (click)="quantity = quantity > 1 ? quantity - 1 : 1">
                <i class="bi bi-dash fs-4"></i>
              </span>
            </h6>
            <div class="add-btn">
              <button class="btn " data-bs-toggle="offcanvas" data-bs-target="#cartDrawer"
                (click)="AddtocartClick(selectedVariant, quantity)">Add TO Cart</button>
            </div>
          </div>

          <div class="product-content">
            <p class="images" [innerHTML]="selectedVariant.productContent"></p>
          </div>
        </div>

      </div>
    </div>



  </div>
</section>
<!-- peoduct details sectoin end -->

<!-- product image start  -->
<section class="client">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="client-slider">
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let variant of selectedProduct.variants">
              <div class="card" (click)="selectProduct(variant)"
                [ngClass]="{ 'single-product': selectedProduct.variants.length === 1 }">
                <div class="client-logo">
                  <img [src]="variant.variantImage" [alt]="variant.name"
                    [ngClass]="{ 'single-img': selectedProduct.variants.length === 1 }">
                  <h5>{{ variant.description | slice : 0:30 }}</h5>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>






          <!-- <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide>
                <div class="card">
                  <div class="client-logo text-center" (click)="selectProduct(product)">
                    <img src="../../../../assets/image/Product/plant&stand4.png" alt="Client Image">
                  </div>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="card">
                  <div class="client-logo text-center">
                    <img src="../../../../assets/image/Product/plant&stand1.png" alt="Client Image">
                  </div>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="card">
                  <div class="client-logo text-center">
                    <img src="../../../../assets/image/Product/plant&stand2.png" alt="Client Image">
                  </div>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="card">
                  <div class="client-logo text-center">
                    <img src="../../../../assets/image/Product/plant&stand3.png" alt="Client Image">
                  </div>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="card">
                  <div class="client-logo text-center">
                    <img src="../../../../assets/image/Product/plant&stand5.png" alt="Client Image">
                  </div>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="card">
                  <div class="client-logo text-center">
                    <img src="../../../../assets/image/Product/plant&stand6.png" alt="Client Image">
                  </div>
                </div>
              </ng-template>
            </owl-carousel-o> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- product image end  -->


<!-- cart modal start -->
<!-- Right-Side Drawer -->
<!-- <div class="offcanvas offcanvas-end custom-drawer custom-drawer-fullscreen" id="cartDrawer" tabindex="-1" aria-labelledby="cartDrawerLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="cartDrawerLabel">Shopping Cart</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" (click)="reloda()"></button>
  </div>
  



  <div class="offcanvas-body drawer-xl">
    <div *ngIf="cartProducts.length > 0; else emptyCart">
      <div *ngFor="let item of cartProducts; let i = index" class="cart-item row my-3 align-items-center">
        <div class="col-4 col-md-4 text-center mb-2 mb-md-0">
          <img [src]="item.variantImage" alt="{{ item.productTitle }}" class="img-fluid" style="max-width: 100px;">
        </div>
  
        <div class="col-4 col-md-4">
          <h6>{{ item.description }}</h6>
          <p>Quantity: {{ item.quantity }}</p>
          <h6 class="coun pb-2 d-flex align-items-center justify-content-center justify-content-md-start">
            <span class="pe-3" (click)="updateQuantity(i, item.quantity + 1)">
              <i class="bi bi-plus fs-4"></i>
            </span>
            {{ item.quantity }}
            <span class="ps-3" (click)="updateQuantity(i, item.quantity > 1 ? item.quantity - 1 : 1)">
              <i class="bi bi-dash fs-4"></i>
            </span>
          </h6>
        </div>
        <div class="col-4 col-md-4 text-end">
          <button class="btn btn-sm btn-danger mt-2 mt-md-0" (click)="removeFromCart(item.userProductVariantID)">Remove</button>
        </div>
      </div>
    </div>
  
    <ng-template #emptyCart>
      <p>Your cart is empty</p>
    </ng-template>
  </div>
  
  <div class="col-lg-12">
    <div class="check-btn">
      <button class="btn btn-dark" data-bs-target="#checkout" data-bs-toggle="modal">Continue</button>
    </div>
  </div>
</div> -->



<div class="offcanvas offcanvas-end custom-drawer" id="cartDrawer" tabindex="-1" aria-labelledby="cartDrawerLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="cartDrawerLabel">Shopping Cart</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" (click)="reloda()"></button>
  </div>

  <!-- Scrollable body -->
  <div class="offcanvas-body drawer-xl d-flex flex-column justify-content-between" style="height: 100%;">
    <!-- Top content: Cart Items -->
    <div class="flex-grow-1 overflow-auto">
      <div *ngIf="cartProducts.length > 0; else emptyCart">
        <div *ngFor="let item of cartProducts; let i = index" class="cart-item row my-3 align-items-center">
          <div class="col-4 col-md-4 text-center mb-2 mb-md-0">
            <img [src]="item.variantImage" alt="{{ item.productTitle }}" class="img-fluid" style="max-width: 100px;">
          </div>
          <div class="col-4 col-md-4">
            <h6>{{ item.description }}</h6>
            <p>Quantity: {{ item.quantity }}</p>
            <h6 class="coun pb-2 d-flex align-items-center justify-content-center justify-content-md-start">
              <span class="pe-3" (click)="updateQuantity(i, item.quantity + 1)">
                <i class="bi bi-plus fs-4"></i>
              </span>
              {{ item.quantity }}
              <span class="ps-3" (click)="updateQuantity(i, item.quantity > 1 ? item.quantity - 1 : 1)">
                <i class="bi bi-dash fs-4"></i>
              </span>
            </h6>
          </div>
          <div class="col-4 col-md-4 text-end">
            <button class="btn btn-sm btn-danger mt-2 mt-md-0" (click)="removeFromCart(item.userProductVariantID)">
              Remove
            </button>
          </div>
        </div>
      </div>
      <ng-template #emptyCart>
        <p>Your cart is empty</p>
      </ng-template>
    </div>

    <!-- Bottom sticky button -->
    <div class="pt-3 border-top">
      <button class="btn btn-dark w-100" data-bs-target="#checkout" data-bs-toggle="modal">
        Continue
      </button>
    </div>
  </div>
</div>

<!-- cart modal end -->



<!-- checout modal start -->
<div class="modal fade" id="checkout" tabindex="-1" aria-labelledby="checkoutLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <label for="">Fill this Details</label>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="AddCartform">
          <div class="mb-3">
            <label for="" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Phone Number</label>
            <input type="text" class="form-control" formControlName="phoneNumber">
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Address</label>
            <input type="text" class="form-control" formControlName="address">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="PlaceOrder()" data-bs-dismiss="modal">Save
          changes</button>
      </div>
    </div>
  </div>
</div>
<!-- checout modal end -->



<app-footer></app-footer>