.bg-product {
    width: 100%;  
    height: 50vh; 
    overflow: hidden;
    position: relative;
}

.bg-product img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    overflow: hidden;
}

.product-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.product-title h2{
    font-family: var(--theme-font);
    font-size: 42px;
    font-weight: 700;
}

.client{
    margin: 70px 0;
}
.client-slider .card{
    margin: 0 10px;
    border: 1px solid var(--primary-color);
    border-radius: 0;
}
.client-slider .card{
  width: 70%;
}
.client-logo img{
    width: 100%;
    height: 200px;
}

.client-slider .card {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  .client-slider .card:hover {
    transform: scale(1.05);
  }
  .product-details {
    margin-top: 20px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    text-align: center;
    color: #000;
  }
  .product-details img {
    width: 200px;
    height: auto;
    margin: 10px 0;
  }
  .check-btn{
    width: 100%;
    text-align: center;
    margin: 15px 0;
  }
  .check-btn .btn{
    width: 100%;
  }

  .product-img img{
    width: 100%;
    height: 400px;
  }
  .product-desc{
    padding: 5% 0;
  }

 
  
  