<app-header></app-header>

<!-- banner section start -->
<section class="banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="work-bg">
                    <img src="../../../../assets/image/Product/bgproduct.jpg" alt="bannerimage">
                    <div class="work-cont">
                        <h2>Work Details</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner section end -->

<!-- work details section start -->
<section class="details">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
               <div class="work-conts" *ngIf=" workdeatils">
                <h6>{{workdeatils.workTitle}}</h6>
                <h6 class=" text-center my-3">
                    <img [src]="workdeatils.imageThumbail" alt="workimage" class="img-fluid">
                </h6>
                <h6 [innerHTML]="workdeatils.content"></h6>
               </div>
            </div>
        </div>
    </div>
</section>
<!-- work details section end -->



<app-footer></app-footer>