<app-header></app-header>
<!-- banner section start -->
<section class="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="about-bg">
                    <img src="../../../../assets/image/Product/bgproduct.jpg" alt="">
                    <div class="about-cont">
                        <h2>About Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner section end -->

<!-- about content section start -->
<section class="abouts">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="story-title">
                    <h5>Our Story</h5>
                </div>
                <div class="about-conts">
                    <h2>Crafting Beautiful</h2>
                    <h3 class="mb-4">Gardens Since'99</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia perferendis nisi ut nemo
                        voluptatem ex quis, saepe quo pariatur soluta modi aspernatur adipisci omnis eius voluptatibus
                        ipsum impedit ducimus repellendus.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-23">
                        <div class="about-img">
                            <img src="../../../../assets/image/About/about1.png" alt="About-img" class="img-fluid">
                        </div>
                        <div class="about-img-cont">
                            <div class="imges d-flex flex-wrap align-items-center justify-content-evenly">
                                <img src="../../../../assets/image/About/flower.png" alt="">
                                <div class="imges-cont">
                                    <h4>550+</h4>
                                    <h5>Garden Designed</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="about-imgs-cont">
                            <div class="imges d-flex flex-wrap align-items-center justify-content-evenly">
                                <img src="../../../../assets/image/About/customer.png" alt="Customer-img">
                                <div class="imges-cont">
                                    <h4>850+</h4>
                                    <h5>Happy Customer</h5>
                                </div>
                            </div>
                        </div>
                        <div class="about-img">
                            <img src="../../../../assets/image/About/about2.png" alt="About-img" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about content section end -->

<section class="abouts-other">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="about-imgs">
                    <img src="../../../../assets/image/About/about3.png" alt="About-image" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="about-imgs">
                    <img src="../../../../assets/image/About/about4.png" alt="About-image" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="about-why">
                    <h5>All Kind Of Plants</h5>
                    <h2>Why Shop With Us?</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ducimus tenetur placeat veniam
                        alias molestiae saepe nisi voluptatibus quisquam!</p>
                </div>
            </div>
        </div>
    </div>
</section>


<app-footer></app-footer>