.foot{
    background-color: #303840;
    padding: 20px 0;
}
.farmetos-logo{
    text-align: center;
}
.farmetos-logo p{
    color: var(--secondary-color);
}
.links h4{
    font-family: var(--theme-font);
    color: var(--primary-color);
    font-weight: 700;
}
.links ul li{
    list-style: none;
    color: var(--secondary-color);
    padding: 8px 0;
    font-family: var(--theme-font);
    font-weight: 600;
}
.links ul{
    padding: 0 0 0 0;
}
.social h4{
    font-family: var(--theme-font);
    color: var(--primary-color);
    font-weight: 700;
}
.fb{
    background-color: #303840;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    text-align: center;
    font-size: 18px;
    padding: 6px 0;
    
}
.fb i{
    color: #fff
}
.inst{
    background-color: #303840;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    text-align: center;
    font-size: 18px;
    padding: 6px 0;
    margin: 10px 0;
}
.inst i{
    color: #fff
}
.twit{
    background-color: #303840;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    text-align: center;
    font-size: 18px;
    padding: 6px 0;
}
.twit i{
    color: #fff;
}
.you{
    background-color: #303840;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    text-align: center;
    font-size: 18px;
    padding: 6px 0;
}
.you i{
    color: #ffff;
}
.what{
    background-color: #303840;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    text-align: center;
    font-size: 18px;
    padding: 6px 0;
    margin: 10px 0;
}
.what i{
    color: #ffff;
}