.foot{
    background-color: #303840;
    padding: 20px 0;
}
.farmetos-logo{
    text-align: center;
}
.farmetos-logo p{
    color: var(--secondary-color);
}
.links h4{
    font-family: var(--theme-font);
    color: var(--primary-color);
    font-weight: 700;
}
.links ul li{
    list-style: none;
    color: var(--secondary-color);
    padding: 8px 0;
    font-family: var(--theme-font);
    font-weight: 600;
}
.links ul{
    padding: 0 0 0 0;
}
.fb{
    background-color: #303840;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    text-align: center;
    font-size: 22px;
    padding: 6px 0;
    
}
.fb i{
    color: var(--primary-color);
}
.inst{
    background-color: #303840;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    text-align: center;
    font-size: 22px;
    padding: 6px 0;
    margin: 0 15px 0 15px;
}
.inst i{
    color: var(--primary-color);
}
.twit{
    background-color: #303840;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    text-align: center;
    font-size: 22px;
    padding: 6px 0;
}
.twit i{
    color: var(--primary-color);
}