/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


body {
    font-family: "Lora", serif;
}

:root {
    --theme-font: "Lora", serif;
    --primary-color: #01B147;
    --secondary-color: #FFFFFF;
    --third-color: #000000
}

.what-icon {
    position: fixed;
    bottom: 0px;
    right: 0px;
    transform: translate(-50%, -50%);
    z-index: 12;
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.15);
    background-color: #ffffff7f;
    border-radius: 50%;
}

.what-icon i {
    font-size: 36px;
    color: var(--primary-color);
}

.testimonioal .owl-stage-outer{
    border-radius: 10px;
    box-shadow: 0px 6px 11px 0px #C2BFBF40;
}

.testimonioal .owl-theme .owl-nav .owl-next, .testimonioal .owl-theme .owl-nav .owl-prev{
    background: transparent;
    color: black;
    width: 25px;
    height: 25px;
}

.testimonioal .owl-next i, .testimonioal .owl-prev i{
    font-size: 25px;
}